<main>
    <table id="labs">
        <tr>
            <th>Project Name</th>
            <th>GitHub Repo</th>
            <th>App Link</th>
        </tr>
        <tr>
            <td>Midterm - Family Slack</td>
            <td><a href="https://github.com/jmeaster1/Flak" target="_blank">Flak Project on Github</td>
            <td><a href="http://18.220.194.202:8080/Flak" target="_blank">Flak Project</a></td>
        </tr>
        <tr>
            <td>Ajax Petsit</td>
            <td><a href="https://github.com/Meira1427/PetSit" target="_blank">Petsitter on Github</td>
            <td><a href="http://18.220.194.202:8080/PetRest" target="_blank">Petsitter Rest</a></td>
        </tr>
        <tr>
            <td>Blackjack Gradle</td>
            <td><a href="https://github.com/Meira1427/BlackjackWebApp.git" target="_blank">Blackjack Web App on GitHub</a></td>
            <td><a href="http://18.220.194.202:8080/BlackjackGradleApp/" target="_blank">Blackjack Web App</a></td>
        </tr>
        <tr>
            <td>MVC Crud</td>
            <td><a href="https://github.com/Meira1427/MVCCRUDProject" target="_blank">Task List on GitHub</a></td>
            <td><a href="http://18.220.194.202:8080/MVCCRUDProject/" target="_blank">Task List</a></td>
        </tr>
        <tr>
            <td>US Presidents</td>
            <td><a href="https://github.com/Meira1427/PresidentsProject" target="_blank">Presidents on GitHub</a></td>
            <td><a href="http://18.220.194.202:8080/MyPresidents/" target="_blank">Presidents Projects</a></td>
        </tr>
        <tr>
            <td>Javascript Monsters</td>
            <td><a href="jsracer.js" target="_blank">js file</a></td>
            <td><a href="jsracer.html" target="_blank">JS Racer</a></td>
        </tr>
        <tr>
            <td>Blackjack</td>
            <td><a href="https://github.com/Meira1427/BlackjackProject" target="_blank">Blackjack on GitHub</a></td>
            <td>No App</td>
        </tr>
        <tr>
            <td>Jets</td>
            <td><a href="https://github.com/Meira1427/JetsProject" target="_blank">Jets on GitHub</a></td>
            <td>No App</td>
        </tr>
    </table>
</main>
