<main>
<table id="resume">
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th rowspan="4">Summary</th>
        <th></th>
        <th></th>
        <th></th>
    <tr>
        <td colspan="3">Over twenty-five years in small business environment with experience in</td>
    </tr>
    <tr>
        <td colspan="3">accounting, administration, and records management. Trained at Skill</td>
    </tr>
    <tr>
        <td colspan="3">Distillery in software development. Meticulous, versatile, and independent.</td>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th rowspan="12">Skills</th>
        <th></th>
        <th></th>
        <th></th>
    <tr>
        <td colspan="3">Java 8, OOP, 91% on Oracle OCP-1 (formally OCA)</td>
    </tr>
    <tr>
        <td colspan="3">Java Web Apps, Spring MVC, Maven, Gradle, REST, Servlets</td>
    </tr>
    <tr>
        <td colspan="3">Introduced to Agile methodologies, Scrum framework, Kanban principles</td>
    </tr>
    <tr>
        <td colspan="3">SQL using mySQL, JPQL, JDBC, Database design</td>
    </tr>
    <tr>
        <td colspan="3">Javascript, JQuery, Ajax, Angularjs</td>
    </tr>
    <tr>
        <td colspan="3">HTML, CSS, XML, EL, JSP, Some Photoshop</td>
    </tr>
    <tr>
        <td colspan="3">MS Windows, Mac OS, Linux command line</td>
    </tr>
    <tr>
        <td colspan="3">Apache Tomcat, Amazon AWS</td>
    </tr>
    <tr>
        <td colspan="3">Git version control, GitHub</td>
    </tr>
    <tr>
        <td colspan="3">Word, Powerpoint, Excel, including Pivot Tables</td>
    </tr>
    <tr>
        <td colspan="3">PDF editing with Acrobat Reader DC</td>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th rowspan="13">Bell ATM Service, Inc.</th>
        <th colspan="3">1999-2017</th>
    </tr>
    <tr>
        <th colspan="3">Controller/Human Resources </th>
    </tr>
    <tr>
        <td colspan="3">Assisted in the development of an electronic parts repair and distribution </td>
    </tr>
    <tr>
        <td colspan="3">company from two employees to thirty.</td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Bookkeeping - A/R, A/P, sales tax, ACH, accrual accounts, tax prep</td>
    </tr>
    <tr>
        <td colspan="3">HR - payroll, workman’s comp audits, benefits, payroll deductions</td>
    </tr>
    <tr>
        <td colspan="3">Records Management – e-filing, development of filing systems</td>
    </tr>
    <tr>
        <td colspan="3">Extensive experience with Microsoft Office, Quickbooks, Acctivate</td>
    </tr>
    <tr>
        <td colspan="3">Internet research projects, prompt and courteous email processing</td>
    </tr>
    <tr>
        <td colspan="3">Business card design, Power Point presentations, marketing tools</td>
    </tr>
    <tr>
        <td colspan="3">Some Adobe Photoshop experience and PDF editing in Acrobat Reader DC</td>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th rowspan="12">Collen Management</th>
        <th colspan="3">1994-1998</th>
    </tr>
    <tr>
        <th colspan="3">Bookkeeper/Executive Assistant </th>
    </tr>
    <tr>
        <td colspan="3">Responsible for all aspects of administration in an entrepreneurial company</td>
    </tr>
    <tr>
        <td colspan="3">that was involved in projects on several venues, including real estate and oil.</td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Bookkeeping - A/R, A/P, bank reconciliation, credit card reconciliation</td>
    </tr>
    <tr>
        <td colspan="3">Developing, polishing, and distributing sales materials</td>
    </tr>
    <tr>
        <td colspan="3">Incoming telephone calls, outgoing sales calls, and travel arrangements</td>
    </tr>
    <tr>
        <td colspan="3">Attending county court petition proceedings</td>
    </tr>
    <tr>
        <td colspan="3">Researching mining rights through county records</td>
    </tr>
    <tr>
        <td colspan="3">Extensive experience with Word, Excel, Quickbooks, Quicken</td>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th rowspan="3">Innovative Software</th>
        <th colspan="3">1989-1994</th>
    </tr>
    <tr>
        <th colspan="3">Bookkeeping/Administration/Sales </th>
    </tr>
    <tr>
        <td colspan="3">Responsible for all aspects of administration in a software startup.</td>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th rowspan="4">Education</th>
        <th></th>
        <th></th>
        <th></th>
    <tr>
        <td colspan="3">University of Washington, B.S. in Physics, 3.8 gpa</td>
    </tr>
    <tr>
        <td colspan="3">Skill Distillery, Coding Bootcamp (800 hour immersive), 2017</td>
    </tr>
    <tr>
        <td colspan="3">edX Python Class - <a href="https://s3.amazonaws.com/verify.edx.org/downloads/ec45f76a4f704e6c81655d840f3e20f2/Certificate.pdf" target="_blank">MIT's 6.00.1x</a></td>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="Meira_Pentermann Resume_2017.pdf" target="_blank">PDF of Resume</a></td>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th colspan="4"></th>
    </tr>
</table>
</main>
