* {
    background-color: #A9BCC2;
    font-size: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1 em;
    text-align: justify;
    margin: 2%;
    color: #223840;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    text-align: center;
    color: #223840;
    line-height: .7em;
}

h1, h2 {
    font-size: 2.7em;
    font-weight: 800;
}

h3 {
    font-size: 2.1em;
    font-weight: 700;
}

h4 {
    font-size: 1.9em;
    font-weight: 600;
}

h5 {
    font-size: 1.5em;
    font-weight: 600;
}

h6 {
    font-size: 1.3em;
    font-weight: 600;
}

div#navbar ul {
	list-style-type: none;
	padding: 0;
    margin: 0 0 0 2%;
}

div#navbar ul li {
    display: inline-block;
	text-align: center;
	margin: 0 0 2% 0;
	padding: 1%;
    width: 17%;
}

a {
    background-color: inherit;
}

div#navbar ul li a  {
	font-family: Georgia, Times, serif;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
    color: #E9F0F2;
}

li.colorButton {
	background-color: #223840;
}

li.colorButton:hover {
	background-color: #392240;
}

li.colorButton:active {
	background-color: #402A22;
}
