<header>
    <h1 class="myName">Meira Pentermann</h1>
    <h3 class="keyword">{{vm.getViewKeyword()}}</h3>
    <div id="navbar">
            <a href='#/home'><input type="submit" class="colorButton" value="Home"/></a>
            <a href='#/about'><input type="submit" class="colorButton" value="About" /></a>
            <a href='#/resume'><input type="submit" class="colorButton" value="Resume" /></a>
            <a href='#/labs'><input type="submit" class="colorButton" value="Labs" /></a>
            <a href='#/contact'><input type="submit" class="colorButton" value="Contact" /></a>
    </div>
</header>
<div id="hidden_header">
    <h1 class="myName">Meira Pentermann</h1>
    <h3 class="keyword">Java Developer</h3>
    <div id="navbar">
            <a href="" class="colorButton"><input type="submit" value=""></input></a>
            <a href="" class="colorButton"><input type="submit" value="About"></input></a>
            <a href="" class="colorButton"><input type="submit" value="Resume"></input></a>
            <a href="" class="colorButton"><input type="submit" value="Labs"></input></a>
            <a href="" class="colorButton"><input type="submit" value="Contact"></input></a>
    </div>
</div>
